.weatherBox {
  background-color: aqua;
  margin: 10px;
  padding: 10px;
}
.searchHistoryButton,
.searchFormButton {
  background-color: purple;
  color: white;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  margin-bottom: 40px;
}

#search {
  height: 50px;
}

.card {
  float: left;
  display: block;
}

h1 {
  background-color: purple;
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

#cityForm {
  padding: 10px;
  background: grey;
}
#cityForm input {
  margin-bottom: 10px;
}
